<h1 align="middle"> Nasze projekty</h1>

<% @posts.each do |post| %>
<div class='post'>
<div class='text_title'><%= link_to post.title, post %></div>
<p>
	<%= time_ago_in_words post.created_at  %> temu
	</p><p>
		<%= truncate post.text %>
		</p>
		<p>
			<%= link_to post.user %>
		</p>
		</div>
		<% end %>
		
		
		
		
		
			<% if user_signed_in? %>

		<p>
			
</p>
<% end %>
