<h1 align="middle"> Nasze projekty</h1>

<% @posts.each do |post| %>
	<div class='post'>
		<div class='text_title'>
			<%= link_to post.title, post %>
			</div>
		<div>
			<%= post.text.html_safe %>
		</div>
		<div class='post_fotter'>
			Dodano przez: <b><%= post.user.email %></b>, <%= time_ago_in_words post.created_at  %> temu.
		</div>	
	</div>
<% end %>
